Programación en Python
===

Resuelva cada punto en la celda asignada. No agregue celdas ni elimine celdas. Imprima exactamente la salida como se indica en la descripción de cada ejercicio. **Para este taller no puede usar Pandas**.

Dataset
---

In [ ]:
%%writefile /tmp/data.csv
E	1	1999-02-28	b,g,f	jjj:12,bbb:3,ddd:9,ggg:8,hhh:2
A	2	1999-10-28	a,f,c	ccc:2,ddd:0,aaa:3,hhh:9
B	5	1998-05-02	f,e,a,c	ddd:2,ggg:5,ccc:6,jjj:12
A	3	1999-08-28	a,b	hhh:9,iii:5,eee:7,bbb:1
C	6	1999-12-01	f,g,d,a	iii:6,ddd:5,eee:4,jjj:12
A	7	1998-07-28	c,d	bbb:2,hhh:0,ccc:4,fff:1,aaa:7
A	9	1997-02-28	g,d,a	aaa:5,fff:8,ddd:2,iii:0,jjj:7,ccc:1
B	1	1999-05-10	b,a	fff:3,hhh:1,ddd:2
E	2	1997-04-12	d,e,a,f	eee:4,ccc:5,iii:9,fff:7,ggg:6,bbb:2
B	3	1999-11-23	d,b,g,f	bbb:7,jjj:9,fff:5,iii:4,ggg:3,eee:3
C	7	1998-01-17	d,c,f,b	hhh:6,eee:4,iii:0,fff:2,jjj:12
C	5	1998-12-28	d,e,a,c	bbb:7,iii:6,ggg:9
D	3	1999-10-15	g,e,f,b	bbb:9,aaa:3,ccc:6,fff:4,eee:2
E	8	1998-11-01	c,f	aaa:8,ddd:5,jjj:12
B	9	1999-08-12	d,b	ccc:7,jjj:6,fff:7,ddd:3,aaa:2
D	8	1997-12-01	f,e	ccc:8,eee:6,bbb:9,ddd:3
E	3	1997-07-28	e,b,f	bbb:6,iii:3,hhh:5,fff:4,ggg:9,ddd:2
D	5	1998-08-12	g,a	hhh:4,jjj:5,ccc:9
E	8	1999-08-24	e,c,f,a	ccc:1,iii:6,fff:9
E	9	1998-01-23	e,a	bbb:9,aaa:3,fff:1
E	7	1999-06-22	e,f	ddd:9,iii:2,aaa:4
E	3	1999-04-24	c,b,g	ccc:5,fff:8,iii:7
D	5	1999-06-25	c,f,a	eee:3,jjj:17,ddd:7
A	9	1999-08-25	f,a,d	jjj:12,ggg:7,ccc:7,ddd:9,bbb:3
E	4	1997-07-26	c,d	jjj:6,ccc:4,aaa:1,hhh:9,iii:7,ggg:8
E	6	1997-09-24	e,d,c	fff:3,eee:6,iii:4,bbb:7,ddd:4,ccc:1
A	8	1997-09-28	a,e,f	fff:0,ddd:5,ccc:4
E	5	1999-06-22	c,a,g	ggg:6,hhh:3,ddd:9,ccc:10,jjj:7
A	6	1999-07-29	f,e	hhh:6,jjj:13,eee:5,iii:7,ccc:3
C	0	1999-08-22	f,c,a,g	eee:1,fff:4,aaa:2,ccc:7,ggg:10,ddd:6
A	9	1998-04-26	b,f	ccc:6,aaa:9,eee:5,ddd:0,bbb:3
D	3	1998-02-24	b,f	bbb:7,hhh:1,aaa:6,iii:4,fff:9,ddd:5
E	5	1999-03-24	a,c	fff:3,ccc:1,ggg:3,eee:5
B	4	1998-03-23	b,f,c	iii:7,ggg:3,ddd:0,jjj:8,hhh:5,ccc:1
B	6	1999-04-21	f,a,e	hhh:6,ccc:3,jjj:9,bbb:8,ddd:7
D	7	1999-02-29	a,f	aaa:1,fff:5,ddd:3
B	8	1997-05-21	c,a	ddd:5,jjj:17,iii:7,ccc:10,bbb:4
C	9	1997-07-22	c,a,e,f	eee:3,fff:2,hhh:6
E	1	1999-09-28	e,d	fff:9,iii:2,eee:5
E	5	1998-01-26	f,a,d	hhh:8,ggg:3,jjj:5

Writing /tmp/data.csv

Ejercicio 1
---

In [ ]:
#
# Imprima la suma de la segunda columna.
#
# Rta/
# 214
#
with open("/tmp/data.csv", "r") as file:
    data = file.readlines()

data = [line.replace("\t", ",") for line in data]
data = [line.replace("\n", "") for line in data]
data = [line.split(",") for line in data]

parte_1 = [row[0:3] for row in data]
parte_1[0:2]

lista_letras = [[value for value in row if len(value) == 1] for row in data]
lista_letras = [row[2:] for row in lista_letras]
largo_maximo_letras =max([len(row) for row in lista_letras])
lista_letras


parte_2 = []
lista_temporal = []
for row in lista_letras:
  for i in range(len(row)):
      lista_temporal.append(row[i])
  while len(lista_temporal) < largo_maximo_letras:
    lista_temporal.append('')
  parte_2.append(lista_temporal)
  lista_temporal = []
parte_2[0:2]

lista_diccionario = [[value for value in row if len(value) >=5] for row in data]
lista_diccionario = [row[1:] for row in lista_diccionario]

diccionario = {}
parte_3 = []
for row in lista_diccionario:
  for i in range(len(row)):
    a,b =row[i].split(":")
    diccionario[a] = int(b)
  parte_3.append(diccionario)
  diccionario = {}
parte_3[0:2]

list(zip(parte_1,parte_2,parte_3))[0]

lista_final = []
lista_intermedia = []
lista_temporal = []

for row in list(zip(parte_1,parte_2)):
  for element in row:
    for value in element:
      lista_intermedia.append(value)
  lista_final.append(lista_intermedia)
  lista_intermedia = []

for i in range(len(lista_final)):
  lista_final[i].append(parte_3[i])

lista_final[0:3]


lista_final[0][1]
sum([int(row[1]) for row in lista_final])

214

Ejercicio 2
---

In [ ]:
#
# Imprima la cantidad de registros por letra para la primera ordenados
# alfabéticamente por la letra de la columna 1.
#
# Rta/
# A,8
# B,7
# C,5
# D,6
# E,14
#

conteo = []

for value in set([row[0] for row in lista_final]):
  conteo.append((value,[row[0] for row in lista_final].count(value)))

conteo_ordenado = sorted(conteo, key=lambda valor : valor[0])
ejercicio_2=set(conteo_ordenado)
rta_2=sorted(ejercicio_2)

for r,z in rta_2:
  print(r,z,sep=",")

A,8
B,7
C,5
D,6
E,14

Ejercicio 3
---

In [ ]:
#
# Imprima la suma de la columna 2 por cada letra de la primera columna,
# ordneados alfabeticamente.
#
# Rta/
# A,53
# B,36
# C,27
# D,31
# E,67
#
suma = []
for value in set([row[0] for row in lista_final]):
  suma.append((value,sum([(int(row[1])) for row in lista_final if row[0] == value])))


suma = sorted(suma, key=lambda valor : valor[0])
suma
for r,z in suma:
  print(r,z,sep=",")

A,53
B,36
C,27
D,31
E,67

Ejercicio 4
---

In [ ]:
#
# La columna 3 contiene una fecha en formato `YYYY-MM-DD`. Imprima la cantidad
# de registros por cada mes separados por comas, tal como se muestra a
# continuación.
#
# Rta/
# 01,3
# 02,4
# 03,2
# 04,4
# 05,3
# 06,3
# 07,5
# 08,6
# 09,3
# 10,2
# 11,2
# 12,3
#
conteo_meses = []
for month in set([row[2][5:7] for row in lista_final]):
  conteo_meses.append((month,len([row[2] for row in lista_final if row[2][5:7] == month])))

conteo_meses = sorted(conteo_meses, key=lambda valor : valor[0])
conteo_meses
for r,z in conteo_meses:
  print(r,z,sep=",")

01,3
02,4
03,2
04,4
05,3
06,3
07,5
08,6
09,3
10,2
11,2
12,3

Ejercicio 5
---

In [ ]:
#
# Imprima el valor maximo y minimo de la columna 2 por cada letra de la
# columa 1.
#
# Rta/
# A,9,2
# B,9,1
# C,9,0
# D,8,3
# E,9,1
#
max_min = []
for value in set([row[0] for row in lista_final]):
  max_min.append((value,max([(int(row[1])) for row in lista_final if row[0] == value]),min([(int(row[1])) for row in lista_final if row[0] == value])))


max_min = sorted(max_min, key=lambda valor : valor[0])
max_min

for a,b,c in max_min:
  print(a,b,c, sep=",")

A,9,2
B,9,1
C,9,0
D,8,3
E,9,1

Ejercicio 6
---

In [ ]:
#
# La columna 5 codifica un diccionario donde cada cadena de tres letras
# corresponde a una clave y el valor despues del caracter `:` corresponde al
# valor asociado a la clave. Por cada clave, obtenga el valor asociado mas
# pequeño y el valor asociado mas grande computados sobre todo el archivo.
#
# Rta/
# aaa,1,9
# bbb,1,9
# ccc,1,10
# ddd,0,9
# eee,1,7
# fff,0,9
# ggg,3,10
# hhh,0,9
# iii,0,9
# jjj,5,17
#
resultado = []
llaves_unicas =set()
for row in [list(row[7].keys()) for row in lista_final]:
  for element in row:
     llaves_unicas.add(element)
llaves_unicas

for value in llaves_unicas:
  resultado.append((value,min([row[7][value] for row in lista_final if value in list(row[7].keys())]),max([row[7][value] for row in lista_final if value in list(row[7].keys())])))
resultado

resultado = sorted(resultado, key=lambda valor : valor[0])
resultado
for x,w,z in resultado:
  print(x,w,z, sep=',')

aaa,1,9
bbb,1,9
ccc,1,10
ddd,0,9
eee,1,7
fff,0,9
ggg,3,10
hhh,0,9
iii,0,9
jjj,5,17

Ejercicio 7
---

In [ ]:
#
# Genera una lista de tuplas que asocien las columnas 0 y 1. Cada tupla
# contiene un valor posible de la columna 2 y una lista con todas las letras
# asociadas (columna 1) a dicho valor de la columna 2.
#
# Rta/
# ('0', ['C'])
# ('1', ['E', 'B', 'E'])
# ('2', ['A', 'E'])
# ('3', ['A', 'B', 'D', 'E', 'E', 'D'])
# ('4', ['E', 'B'])
# ('5', ['B', 'C', 'D', 'D', 'E', 'E', 'E'])
# ('6', ['C', 'E', 'A', 'B'])
# ('7', ['A', 'C', 'E', 'D'])
# ('8', ['E', 'D', 'E', 'A', 'B'])
# ('9', ['A', 'B', 'E', 'A', 'A', 'C'])
#
resultado_7 = []
for value in set([row[1] for row in  lista_final]):
  resultado_7.append((value,[row[0] for row in lista_final if value in row[1]]))

resultado_7 = sorted(resultado_7, key=lambda valor : valor[0])
rta_7=sorted(resultado_7)

for a,b in rta_7:
   print ((a,b))

('0', ['C'])
('1', ['E', 'B', 'E'])
('2', ['A', 'E'])
('3', ['A', 'B', 'D', 'E', 'E', 'D'])
('4', ['E', 'B'])
('5', ['B', 'C', 'D', 'D', 'E', 'E', 'E'])
('6', ['C', 'E', 'A', 'B'])
('7', ['A', 'C', 'E', 'D'])
('8', ['E', 'D', 'E', 'A', 'B'])
('9', ['A', 'B', 'E', 'A', 'A', 'C'])

Ejercicio 8
---

In [ ]:
#
# Genere una lista de tuplas, donde cada tupla contiene en la primera posicion,
# el valor de la segunda columna; la segunda parte de la tupla es una lista con
# las letras (ordenadas y sin repetir letra) de la primera  columna que
# aparecen asociadas a dicho valor de la segunda columna. Esto es:
#
# Rta/
# ('0', ['C'])
# ('1', ['E', 'B'])
# ('2', ['A', 'E'])
# ('3', ['E', 'A', 'D', 'B'])
# ('4', ['E', 'B'])
# ('5', ['E', 'D', 'C', 'B'])
# ('6', ['A', 'E', 'C', 'B'])
# ('7', ['A', 'E', 'C', 'D'])
# ('8', ['A', 'E', 'D', 'B'])
# ('9', ['A', 'E', 'C', 'B'])
# #
resultado_8 = []
for value in set([row[1] for row in  lista_final]):
  resultado_8.append((value,sorted(list(set([row[0] for row in lista_final if value in row[1]])))))

resultado_8 = sorted(resultado_8, key=lambda valor : valor[0])
rta_8=sorted(resultado_8)

rta_8
for a,b in rta_8:
   print ((a,b))

('0', ['C'])
('1', ['B', 'E'])
('2', ['A', 'E'])
('3', ['A', 'B', 'D', 'E'])
('4', ['B', 'E'])
('5', ['B', 'C', 'D', 'E'])
('6', ['A', 'B', 'C', 'E'])
('7', ['A', 'C', 'D', 'E'])
('8', ['A', 'B', 'D', 'E'])
('9', ['A', 'B', 'C', 'E'])

Ejercicio 9
---

In [ ]:
#
# Imprima una tabla en formato CSV que contenga la cantidad de registros en que
# aparece cada clave de la columna 5.
#
# Rta/
# aaa,13
# bbb,16
# ccc,23
# ddd,23
# eee,15
# fff,20
# ggg,13
# hhh,16
# iii,18
# jjj,18
#
resultado_9 = []
for value in llaves_unicas:
  resultado_9.append([value, str(len([row[7][value] for row in lista_final if value in list(row[7].keys())]))])

resultado_9 = sorted(resultado_9, key=lambda valor : valor[0])


resultado_9 = [",".join(row) for row in resultado_9]
resultado_9 = "\n".join(resultado_9)
resultado_9

print(resultado_9)

aaa,13
bbb,16
ccc,23
ddd,23
eee,15
fff,20
ggg,13
hhh,16
iii,18
jjj,18

Ejercicio 10
----

In [31]:
#
# Imprima una tabla en formato CSV que contenga por registro, la letra de la
# columna 1 y la cantidad de elementos de las columnas 4 y 5.
#
# Rta/
# E,3,5
# A,3,4
# B,4,4
# A,2,4
# C,4,4
# A,2,5
# A,3,6
# B,2,3
# E,4,6
# B,4,6
# C,4,5
# C,4,3
# D,4,5
# E,2,3
# B,2,5
# D,2,4
# E,3,6
# D,2,3
# E,4,3
# E,2,3
# E,2,3
# E,3,3
# D,3,3
# A,3,5
# E,2,6
# E,3,6
# A,3,3
# E,3,5
# A,2,5
# C,4,6
# A,2,5
# D,2,6
# E,2,4
# B,3,6
# B,3,5
# D,2,3
# B,2,5
# C,4,3
# E,2,3
# E,3,3
#
[row[0] for row in lista_final] #primera columna

segunda_columna = []
i = 0
for row in lista_final:
  for value in row[3:]:
    if len(value) == 1:         # Segunda columna
      i += 1
  segunda_columna.append(i)
  i = 0

[len(row[7]) for row in lista_final][0:3] #tercera columna


ejercicio_10 = list(zip([row[0] for row in lista_final],segunda_columna,[len(row[7]) for row in lista_final]))
rta10=ejercicio_10[0:]

for i,k,l in rta10:
  print(i,k,l, sep=",")

E,3,5
A,3,4
B,4,4
A,2,4
C,4,4
A,2,5
A,3,6
B,2,3
E,4,6
B,4,6
C,4,5
C,4,3
D,4,5
E,2,3
B,2,5
D,2,4
E,3,6
D,2,3
E,4,3
E,2,3
E,2,3
E,3,3
D,3,3
A,3,5
E,2,6
E,3,6
A,3,3
E,3,5
A,2,5
C,4,6
A,2,5
D,2,6
E,2,4
B,3,6
B,3,5
D,2,3
B,2,5
C,4,3
E,2,3
E,3,3

Ejercicio 11
---

In [ ]:
#
# Imprima la suma de la columna 2 para cada letra de la columna 4, ordenados
# alfabeticamente.
#
# Rta/
# a,122
# b,49
# c,91
# d,73
# e,86
# f,134
# g,35
#
resultado_11 = []
for value in list(set([row[3] for row in lista_final])):
  resultado_11.append((value,sum([int(row[1]) for row in lista_final if value in row[3:7]])))

resultado_11 =  sorted(resultado_11,key=lambda valor : valor[0])
resultado_11
for r,z in resultado_11:
  print(r,z,sep=',')

a,122
b,49
c,91
d,73
e,86
f,134
g,35

Ejercicio 12
---

In [ ]:
#
# Imprima por cada fila, la columna 1 y la suma de los valores de la columna 5.
#
# Rta/
# E,34
# A,14
# B,25
# A,22
# C,27
# A,14
# A,23
# B,6
# E,33
# B,31
# C,24
# C,22
# D,24
# E,25
# B,25
# D,26
# E,29
# D,18
# E,16
# E,13
# E,15
# E,20
# D,27
# A,38
# E,35
# E,25
# A,9
# E,35
# A,34
# C,30
# A,23
# D,32
# E,12
# B,24
# B,33
# D,9
# B,43
# C,11
# E,16
# E,16
#
ejercicio_12 = list(zip([row[0] for row in lista_final],[sum(row[7].values()) for row in lista_final]))
ejercicio_12[-5:]

for r,z in ejercicio_12:
  print(r,z,sep=',')

E,34
A,14
B,25
A,22
C,27
A,14
A,23
B,6
E,33
B,31
C,24
C,22
D,24
E,25
B,25
D,26
E,29
D,18
E,16
E,13
E,15
E,20
D,27
A,38
E,35
E,25
A,9
E,35
A,34
C,30
A,23
D,32
E,12
B,24
B,33
D,9
B,43
C,11
E,16
E,16